<section class="block block--skewed-left container">
    <header class="block__header ">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, quam.</p>
    </header>
    <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, expedita aliquam nam aspernatur vero cum est quaerat? Nesciunt, quasi reiciendis.
        </div>
    </div>

</section>
<section class="block block--dark block--skewed-right ">
    <div class="container">
        <header class="card__header">
            <h2 class="block__heading">Heading</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, quam.</p>
        </header>
    </div>
</section>